asgiref==3.7.2
Django==4.2.4
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.7
inflection==0.5.1
mysqlclient==2.2.0
packaging==23.1
PyJWT==2.8.0
python-decouple==3.8
pytz==2023.3
PyYAML==6.0.1
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
certifi==2023.7.22
charset-normalizer==3.2.0
requests==2.31.0
urllib3==2.0.4
idna==3.4
