.admin-login-body-class{
    background-color: #07182C;
}

.jazzmin-admin-login-page{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{
    max-width: 450px;
    width: 100%;
    border-radius: 8px;
    box-shadow:  0 4px 8px rgba(25, 39, 52, .06), 0 0 4px rgba(25, 39, 52, .12);
}

.login-box .card{
    border-radius: 8px;
}

.login-box .card-body{
    padding: 45px 40px;
}

.login-box .login-logo-container{
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.login-box .login-logo{
    max-height: 42px;
}

.login-box .login-box-msg{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.login-box .logout-box-msg{
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 0 20px 20px;
    text-align: center;
}

.login-box .card-body input, .login-box .card-body button{
    border-radius: 0.375rem;
}

.login-box .card-body input{
    background-color: #F4F5F6;
}

.google-login-button {
    display: block;
    width: 100%;
    background: #F4F5F6;
    color: #505A62;
}

.google-login-button:hover{
    background: #dce0e3;
}

.btn-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.or-container {
    display: flex;
    text-align: center;
    align-items: center;
    margin: 20px 0;
}

.or-container hr {
    border-style: inset;
    border-width: 1px;
    margin: 0.5em auto;
    width: 100%;
}

.or-text {
    padding: 0 10px;
}